* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
  color: #fff;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.sunny {
  background-image: url('https://images.pexels.com/photos/186980/pexels-photo-186980.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

.cloudy {
  background-image: url('https://images.pexels.com/photos/158163/clouds-cloudporn-weather-lookup-158163.jpeg?auto=compress&cs=tinysrgb&w=600');
}

.rain {
  background-image: url('https://images.pexels.com/photos/2448749/pexels-photo-2448749.jpeg?auto=compress&cs=tinysrgb&w=600');
}

.snow {
  background-image: url('https://images.pexels.com/photos/45204/alm-friuli-snow-snowfall-45204.jpeg?auto=compress&cs=tinysrgb&w=600');
}

.fog {
  background-image: url('https://images.pexels.com/photos/45222/forest-fog-nature-winter-45222.jpeg?auto=compress&cs=tinysrgb&w=600');
}

.thunderstorm {
  background-image: url('https://images.pexels.com/photos/2226190/pexels-photo-2226190.jpeg?auto=compress&cs=tinysrgb&w=600');
}

.windy {
  background-image: url('https://images.pexels.com/photos/1030320/pexels-photo-1030320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

.rainandsnow {
  background-image: url('https://images.pexels.com/photos/19492370/pexels-photo-19492370.jpeg?auto=compress&cs=tinysrgb&w=600');
}

.freezing {
  background-image: url('https://images.pexels.com/photos/828658/pexels-photo-828658.jpeg?auto=compress&cs=tinysrgb&w=600');
}

.sunset {
  background-image: url('https://images.pexels.com/photos/36744/agriculture-arable-clouds-countryside.jpg?auto=compress&cs=tinysrgb&w=600');
}

header h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0.25rem;
}

header p {
  color: #fff;
  font-size: 1rem;
}

header input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #2c3e50;
  border-radius: 5px;
  width: 250px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

header button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

header button:hover {
  background-color: #34495e;
}

#current-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
    padding: 25px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  max-width: 600px;
  margin: 0 auto 40px;
  gap: 20px;
}

.weather-icon img {
  width: 120px;
  height: auto;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}

.weather-info h2 {
  font-size: 3rem;
  color: #ffffff;
}

.weather-info p {
  font-size: 1.2rem;
  color: #ffffff;
}

#additional-info {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px 30px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}

#additional-info h3 {
  font-size: 1.75rem;
  color: #ffffff;
  text-align: center;
}

#additional-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px 20px;
}

#additional-info li {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.1rem;
  box-shadow: 2px 2px 8px rgba(19, 15, 64, 0.06);
  text-align: center;
}

#weather-forecast {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.forecast-day {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.switch {
  position: absolute;
  width: 130px;
  height: 50px;
  margin: 0px;
  appearance: none;
  -webkit-appearance: none;
  background-color: rgb(4,52,73);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  transition: background-image .7s ease-in-out;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  left: 30px;
}

body.white {
  color: #000000;
}

header.white, header.white input[type="text"]   {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
}
header.white h1,header.white p{
  color: #000000;

}
header.white button{
  background-color: rgba(65, 65, 65, 0.8);
}
header.white button:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
#current-weather.white {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
}

#additional-info.white {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
}

.weather-info p.white{
  color: #000000;

}
.weather-info h2.white{
  color: #000000;

}
.forecast-day.white {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;

}
#additional-info h3.white {
  color: #000000;
}

#additional-info li.white {
  background-color: #dff9fb;
  color: #130f40;
}
#additional-info li.white {
  background-color: #dff9fb;
  color: #130f40;
}

.switch:checked {
  background-color: rgb(0, 195, 255);
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.switch:after {
  content: '';
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
  transform: translateX(0px);
  animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes off {
  0% {
    transform: translateX(80px);
    width: 46px;
  }

  50% {
    width: 75px;
    border-radius: 25px;
  }

  100% {
    transform: translateX(0px);
    width: 46px;
  }
}

.switch:checked:after {
  animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes on {
  0% {
    transform: translateX(0px);
    width: 46px;
  }

  50% {
    width: 75px;
    border-radius: 25px;
  }

  100% {
    transform: translateX(80px);
    width: 46px;
  }
}

.switch:checked:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 5px;
  transform-origin: 53px 10px;
  background-color: transparent;
  box-shadow: 5px -1px 0px #fff;
  filter: blur(0px);
  animation: sun .7s forwards ease;
}

@keyframes sun {
  0% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }

  50% {
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }

  90% {
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4,
    0px 0px 20px #f5deb4,
    0px 0px 30px #f5deb4,
     inset 0px 0px 2px #efd3a3;
    filter: blur(1px);
  }

  100% {
    transform: rotate(0deg);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4,
    0px 0px 20px #f5deb4,
    0px 0px 30px #f5deb4,
     inset 0px 0px 2px #efd3a3;
    filter: blur(1px);
  }
}

.switch:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 5px;
  filter: blur(1px);
  background-color: #f5daaa;
  box-shadow: 0px 0px 10px #f5deb4,
0px 0px 20px #f5deb4,
0px 0px 30px #f5deb4,
 inset 0px 0px 2px #efd3a3;
  transform-origin: 53px 10px;
  animation: moon .7s forwards ease;
}

@keyframes moon {
  0% {
    transform: rotate(0deg);
    filter: blur(1px);
  }

  50% {
    filter: blur(1px);
  }

  90% {
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }

  100% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }
}
